*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --prim-color:rgb(141, 42, 222);
    --sec-color:rgb(141, 2, 255);
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    color: gray;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 25px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 50px; 
}
.nav-links ul{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
.nav-links ul>li{
    list-style: none;
}

.logo{
    color: var(--prim-color);
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-links a:hover{
    background-color: var(--prim-color);
    color:white;
    padding: 5px 25px;
    text-decoration: overline;
    text-decoration-color: white;
    /* transform: skew(40deg); */
}
.nav-links button{
    background-color: var(--prim-color);
    color:white;
    padding: 5px 25px;
    border-radius: 200px;
    transition:background-color 0.3s;
    border: none;

}
.nav-links button:hover{
    background-color: var(--sec-color);
}



/* ===================== nav bar ends ===================== */

.hero .container{
    display: flex;
    gap: 10px;
    padding: 20px;
    margin-bottom: 40px;
}
.left-hs{
    width: 60%;
    padding: 25px;
    gap: 10px;
    margin-right: 100px;
}
.right-hs{
    width: 40%;
    padding: 25px;
    gap: 10px;
}

.hero-top-box {
    color: var(--prim-color);
    border: 2px solid var(--prim-color);
    font-weight: bold;
    padding: 5px 15px;
    width: 32%;
    margin-bottom: 10px;
}
.hero-top-box p{width: 100%;}


.bottom-hero h1{
    font-size: 6rem;
    font-weight: bold;
    text-transform: capitalize;
}
.bottom-hero p{
    color: gray;
}
.right-hs div{
    width: 100%;
    max-width: 500px;
    height: 600px;
}
.right-hs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.hero span{
    color: var(--prim-color);
}

.hero-stats{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.hero-stat-1{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    align-items: center;
    justify-content: center;
}
.hero-stat-1 span{
font-weight: 600;
font-size: 2rem;
}

.hero-btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.explore-btn{
    padding: 15px 40px;
    background-color: var(--prim-color);
    border: none;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    transition: background-color 0.3s,transform 0.3s;
}
.explore-btn:hover{background-color: var(--sec-color);
transform: translatey(-2px);}
.watch-btn{
    padding: 15px 40px;
    background:none;
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    transition: border-color 0.3s,transform 0.3s;
}
.watch-btn:hover{border-color: white;
transform: translatey(-2px);}



/* =========== hero section ends==================== */
.collections{
    text-transform: capitalize;
}
.collection-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.collection-top h1{
    font-size: 3rem;
    /* margin-bottom: 10px; */
}
.collection-top p{
    text-align: justify;
    font-size: 24px;
    color: gray;
    margin-bottom: 20px;

}

.collections-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-links a{
    margin: 10px auto;
    padding: 10px 40px;
    background:none;
    border: 2px solid gray;
    border-radius: 5px;
    color: gray;
    margin-right: 10px;
    transition: border-color 0.3s,transform 0.3s,color 0.3s,background-color 0.3s,border 0.3s; 
}
.collection-links a:hover{
    color: white;
border-color: white;
transform: translatey(-2px);
background-color: var(--prim-color);
border: none;
}

.collection-cards{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.collection-card1 img{
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}
.collection-card1{
    transition: box-shadow 0.3s;
    margin: 10px 60px;
}
.collection-card1:hover{
    box-shadow: 1px 1px 24px -8px var(--sec-color);
}
.collection-card-info{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 5px;
    padding: 20px;
}
.collection-card-info P:nth-child(1){
    background-color: var(--prim-color);
    padding: 5px 20px
}
.collection-card-info P:nth-child(3){
    color: gray;
}
.collection-card-info span{
    color: var(--prim-color);
    font-size: 1rem;
}


/* url lg width  */


/* ============ cards section ends but incomplete===================== */

.discover{
    text-transform: capitalize;
}
.discover .container{
    margin: 25px 10px;
}

.discover .container> p{
color: var(--prim-color);
}
.left-ds,.right-ds{
    width: 50%;
}
.discover-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin: 25px 0px;
    gap: 20px;
}
.card-ds-1 {
    border: 2px solid rgba(107, 107, 107, 0.23);
    padding: 40px 25px;
    display: flex;
    gap: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* transition: all 0.3s ease; */
    transition: border 0.3s;
    
}
.card-ds-1:hover{
    border: 2px solid var(--prim-color);
    transform: translatey(-5px);
    /* transition: border 0.3s; */


}
.left-ds >p{
    color: gray;
    line-height: 18px;
}
.left-ds >h1{
    font-size: 3.2rem;
}

.card-ds-1 span{
    background: linear-gradient(135deg,var(--prim-color),var(--sec-color));
    padding: 15px;
    border-radius: 500px;
    height: 60px;width: 60px;
    text-align: center;

}
.card-ds-1 p{
    color: gray;
    /* text-align: center; */
}
.card-ds-1 h1{
    font-size: 1rem;
}
.left-ds a {
    background-color: var(--prim-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 18px 50px;
    border-radius:4px ;
    margin-top: 20px;
}
.left-ds a:hover{
    background-color: var(--sec-color);
    transition: background-color 0.3s;

}